/* Common styles */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* /Cammon styles */

/* Page header styles */
.page-header-container {
    display: flex;
    align-items: center;
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    border-bottom: 1px solid #e7e9fc;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.text-logo {
    color:  #2e2f42;
}

.page-menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-menu-contacts {
    font-style: normal;
    margin-left: auto;
}

.page-contacts {
    display: flex;  
    gap: 40px;
}

.menu-contacts {
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
}

.menu-contacts:hover,
.menu-contacts:focus {
    color: #404bbf;
}
/* /Page header styles */

/* Hero section styles */
.hero {
    background-repeat: no-repeat;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/people-office.jpg');
    background-size: cover;
    background-color: #2e2f42;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 188px 0;
    height: 600px;
    color: #404bbf;
}

.section-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.buy-button {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-button:hover, 
.buy-button:focus {
    background-color: #404bbf;
}
/* /Hero section styles */

/* Benefits section styles */
.benefits-section {
    padding-left: 156px;
    padding-right: 156px;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4); 
}

.benefits-icon-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.icon-drawing {
    fill: #2E2F42;
    width: 64px;
    height: 64px;
}

.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* /Benefits section styles */

/* Team section styles */
.team-section {
    background-color: #F4F4FD;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 156px;
    padding-right: 156px;
    padding: 120px 0;
}

.team-menu {
    display: flex;
    gap: 24px;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-div-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;  
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;    
}

.social-list-team {
    padding-top: 8px;
    padding-bottom: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon-team:hover,
.social-link-icon-team:focus {
  background-color: #404bbf;
}

.team-list-svg {
    fill: #F4F4FD;
}

/* /Team section styles */

/* Portfolio section styles */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;  
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.portfolio-div-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;    
}

.portfolio-subtitle {
    margin-bottom: 72px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;  
}

.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.overlay-paragraph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background: #4d5ae5;
    color: #f4f4fd;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .overlay-paragraph {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* /Portfolio section styles */

/* Page footer styles */
.logo-container {
    margin-right: 120px;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.page-footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
    padding-right: 1020px;  
}

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.text-logo-footer {
    color: #f4f4fd;
}

.footer-paragraph {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
}

.social-list-menu {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.social-list-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    width: 40px;
    height: 40px;
}

.social-link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-link-icon:hover,
.social-link-icon:focus {
   background-color: #31d0aa;
 }

.social-list-svg {
    fill: #f4f4fd;
}

.container-footer {
    display: flex;
    align-items: baseline;
}
/* /Page footer styles */